.main-blc{
    padding: 50px 0 60px;
    @media screen and (max-width: 1023px){
        padding: 20px 0 30px;
        .container{
            padding: 0;
        }
    }
}

.services-list{
    .item{
        background: #fff;
        padding: 25px 20px;

        display: flex;
        align-items: flex-start;
        margin-top: 25px;

        @media screen and (max-width: 800px){
            flex-direction: column;
        }

        &:first-child{
            margin-top: 0;
        }

        .img{
            border: 2px solid #f5f5f5;
            border-radius: 3px;
            overflow: hidden;
            @media screen and (max-width: 800px){
               width: 100%;
               img{
                   width: 100%;
               }
            }
        }   

        .text{
            flex: 1;
            padding: 0 40px 0 25px;
            border-right: 1px solid #cccccc;
            @media screen and (max-width: 800px){
                padding: 10px 0 20px;
                border-right: none;
                border-bottom: 1px solid #cccccc;
                margin-bottom: 15px;
            }
            &-title{
                font-size: 24px;
                font-weight: 600;
                color: #272727;
                margin: 0 0 20px;
                @media screen and (max-width: 800px){
                    font-size: 17px;
                    margin: 0 0 15px;
                }
            }
            p{
                margin: 0 0 15px;
                font-size: 16px;
                font-weight: 300;
                color: #737373;
                @media screen and (max-width: 800px){
                    font-size: 14px;
                    margin: 0 0 10px;
                }
            }
        }

        .info{
            border-left: 1px solid #cccccc;
            padding: 0 0 0 40px;
            text-align: right;
            margin-left: -1px;
            @media screen and (max-width: 800px){
                margin-left: 0px;
                padding: 0;
                border-left: 0;
                text-align: left;
            }
            .price{
                font-size: 30px;
                line-height: 1;
                color: #586c76;
                font-weight: 600;
                @media screen and (max-width: 800px){
                    font-size: 28px;
                }
            }
            p{
                margin: 0;
                font-size: 18px;
                color: #586c76;
                font-weight: 600;
                @media screen and (max-width: 800px){
                    font-size: 14px;
                }
            }
            .total{
                font-size: 14px;
                color: #737373;
            }

            .recommended{
                color: #21b1a5;
                font-size: 14px;
                margin: 15px 0;
            }
            .unavailable{
                color: #f85454;
                font-size: 14px;
                margin: 15px 0;
            }

            .wrap-checkbox {
                position: relative;
                
                .button{
                    background: #272727;
                    color: $base-white;
                    font-size: 24px;
                    padding: 14px 15px;
                    text-align: center;
                    border-radius: 3px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 145px;
                    @media screen and (max-width: 800px){
                        font-size: 21px;
                    }
                    &-text{
                        span{
                            display: none;
                        }
                    }

                    .icon {
                        position: relative;
                        margin: 0 0 0 15px;
                        width: 25px;
                        height: 25px;
                        background: url('../img/plus.svg') 0px 0px no-repeat;
                        background-size: 100%;
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    &:checked {
                        & + .button{
                            background: #21b1a5;
                            .button-text{
                                span{
                                    display: inline-block;
                                }
                            }
                            .icon {
                                background: url('../img/tick.svg') 0px 0px no-repeat;
                                background-size: contain;
                            }
                        }
                    }

                    &:disabled{
                        & + .button{
                            background: #e3e3e3;
                            pointer-events: none;
                        }
                    }
                }
            }
        }

    }
}

.wrap-total{
    max-width: 650px;
    margin: 0 auto;
}

.last-row{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
    @media screen and (max-width: 800px){
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-title{
        color: #737373;
        font-size: 18px;
        margin: 0 0 8px;
        font-family: $font;
        font-weight: 400;
    }

    &.order{
        font-weight: 700;
        color: #272727;
        .left{
            font-size: 20px;
            @media screen and (max-width: 800px){
                font-size: 18px;
            }
        }
        .right{
            font-size: 24px;
            @media screen and (max-width: 800px){
                font-size: 18px;
            }
            
        }
    }

    &.time{
        font-size: 18px;
        font-weight: 600;
        @media screen and (max-width: 800px){
            font-size: 14px;
        }
        .row{
            margin-top: 15px;
        }
        .left{
            color: #737373;
            @media screen and (max-width: 800px){
                width: 130px;
            }
            
        }
        .right{
            color: #272727;
            @media screen and (max-width: 800px){
                width: 100px;
                text-align: right;
            }
            
        }
    }

    &.additional{
        font-size: 18px;
        font-weight: 600;
        @media screen and (max-width: 800px){
            font-size: 14px;
        }
        .row{
            margin-bottom: 8px;
        }
        .left{
            color: #272727;
        }
        .right{
            color: #272727;
        }
    }

    &.discount{
        font-size: 18px;
        font-weight: 600;
        @media screen and (max-width: 800px){
            font-size: 14px;
        }
        .row{
            margin-bottom: 8px;
        }
        .left{
            color: #737373;
        }
        .right{
            color: #272727;
        }

        .discount-row{
            .left{
                color: #21b1a5;
            }
            .right{
                color: #21b1a5;
            }
        }
    }

    &.total{
        border-bottom: none;
        margin-bottom: 0;
        .left{
            font-size: 20px;
            font-weight: 600;
            color: #272727;
            @media screen and (max-width: 800px){
                font-size: 16px;
            }
        }
        .right{
            font-size: 30px;
            font-weight: 600;
            color: #586c76;
            @media screen and (max-width: 800px){
                font-size: 24px;
            }
        }
    }
}